.btn {
    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    border: none;
    cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-white,0.2);
        color:rgba($color-black,.5);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1rem);
        box-shadow: 0 .5rem 1rem rgba($color-white,0.2);
    }

    &--white {
        background-color: $color-white;
        color:rgba($color-black,0.6);

        &::after {
            background-color:$color-white;
        } 
    }


    &--green {
        background-color: $color-primary;
        color:$color-white;

        &:hover {
         color:$color-white;
        }

        &::after {
            background-color:$color-primary;
        } 
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
        transition: all .5s;
    }


    &--animated {
        animation: moveInBotom 0.5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .4rem;
        display: inline-block;
        transition: all 1s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        -webkit-box-shadow: 1rem 1rem 2.6rem -0.5rem rgba(0,0,0,0.75);
        -moz-box-shadow: 1rem 1rem 2.6rem -0.5rem  rgba(0,0,0,0.75);
        box-shadow: 1rem 1rem 2.6rem -0.5rem  rgba(0,0,0,0.75);
        transform: translateY(-2px);
    }

    &:active{
        -webkit-box-shadow: .5rem .5rem 1.3rem -0.25rem rgba(0,0,0,0.75);
        -moz-box-shadow: .5rem .5rem 1.3rem -0.25rem  rgba(0,0,0,0.75);
        box-shadow: .5rem .5rem 1.3rem -0.25rem  rgba(0,0,0,0.75);
        transform: translateY(0);
    }
}